body{
    margin: 0;
    overflow: hidden;
    background-color: black;
}

video, canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100w;
    height: 100vh;
    object-fit: cover;
}
#filters {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

#filters button {
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  border: none;
}
